{% extends 'layout.twig' %}

{% block title "My posts" %}

{% block body %}
  <h1>Bievenue sur le blog</h1>

  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">
          {{ post.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}