{% extends 'layout.twig' %}

{% block title "My posts" %}

{% block body %}
  <h1>Bievenue sur le blog</h1>

  <ul>
    <li><a href="{{ path('blog.show', {slug: 'this-is-my-1st-post'}) }}">Article 1</a></li>
  </ul>
{% endblock %}